# Exploring Category and Interval

This notebook illustrates steps to access the pandas class of [Categorical](https://pandas.pydata.org/pandas-docs/version/0.23.4/categorical.html) and [Interval](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Interval.html).  

Experiment dataset is using "Student Performance in exam", which can found at [Kaggle](https://www.kaggle.com/spscientist/students-performance-in-exams).

In [50]:
import pandas as pd
import numpy as np
from scipy.stats import norm
import matplotlib.pyplot as plt

In [20]:
df_raw = pd.read_csv("./dataset/StudentsPerformance.csv")
df_raw.shape

(1000, 8)

In [52]:
df_raw.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [22]:
df_raw.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

## Exploring Categories and Interval

In [27]:
type(df_raw['math score'].index.values)

numpy.ndarray

In [31]:
df_raw['math score'].index.values[0:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [33]:
len(df_raw['math score'].index.values)

1000

### Slide the data with histogram method

In [38]:
hist_result = pd.cut(df_raw['math score'], 10).value_counts()
hist_result.shape

(10,)

In [39]:
type(hist_result)

pandas.core.series.Series

In [40]:
hist_result

(60.0, 70.0]     270
(70.0, 80.0]     215
(50.0, 60.0]     189
(80.0, 90.0]     126
(40.0, 50.0]     100
(90.0, 100.0]     50
(30.0, 40.0]      34
(20.0, 30.0]      12
(10.0, 20.0]       2
(-0.1, 10.0]       2
Name: math score, dtype: int64

### Work on Interval Data Type

In [48]:
type(hist_result.index.values[0])

pandas._libs.interval.Interval

In [49]:
# Get item
hist_result.index.values[0].left

60.0

In [46]:
# Loop through the extract left 

list_x_value = []
for item in hist_result.index.values:
    print(item.left)
    list_x_value.append(item.left)

60.0
70.0
50.0
80.0
40.0
90.0
30.0
20.0
10.0
-0.1